#header {
	background-color: #ADD8E6;
	color: white;
	text-align: center;
	padding-bottom: 20px;
	border-radius: 10px;

}
#home-link {
	float: left;
	padding-left: 10px;
}
h1 {
	font-size: 300%;
	text-decoration: none;
}
.nav-link {
	float: left;
	width: 33%;
	border: solid 1px;
	border-color: black;
	border-radius: 10px;
}
a:hover {
	font-weight: bold;
}

/*Creating two columns*/
#articles {
	float: left;
	width: 66%;
	border-right-style: solid;
	padding-right: 5px;
}
#side-stuff {
	float: right;
	width: 30%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#ext-links {
	display: none;
}